.nav_collapse {
  display: flex;
  flex-basis: 100%;
  background-color: var(--header-bg);
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

@media screen and (max-width: 768px) {
  .nav_collapse {
    flex-direction: column;
    height: auto;
    align-items: stretch;
  }
  .nav_collapse {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .nav_collapse.active {
    max-height: 500px;
    transition: max-height 0.2s ease-out;
  }
}
