.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: 100px;
  text-align: center;
  background-color: var(--card-bg);
  color: var(--text-color);
}
