.header_toggle {
  display: none;
  position: absolute;
  cursor: pointer;
  .toggle_div1,
  .toggle_div2,
  .toggle_div3 {
    width: 25px;
    height: 5px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
  }
}
