@import './themes.scss';

html,
body {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: var(--bg-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  all: unset;
}
ul {
  padding: 0px;
}
