@use "./color.scss" as *;

html[data-theme="light"] {
  --header-bg: #{$header-bg-1};
  --primary: #{$primary-1};
  --color-text: #{$text-color-1};
  --color-background: #{$bg-color-1};
  --color-btn: #{$btn-color-1};
  --color-hover: #{$hover-color-1};
  --card-bg: #{$header-bg-1};
  --color-button: #{$primary-2};
  --card-border: #{$header-bg-2};
  --link-color: #{$link-color};
}

html[data-theme="dark"] {
  --header-bg: #{$header-bg-2};
  --primary: #{$primary-2};
  --color-text: #{$text-color-2};
  --color-background: #{$bg-color-2};
  --color-btn: #{$btn-color-2};
  --color-hover: #{$hover-color-2};
  --card-bg: #{$header-bg-2};
  --color-button: #{$primary-1};
  --card-border: #{$header-bg-1};
  --link-color: #{$link-color};
}
