@use "./color.scss" as *;

html[data-theme="light"] {
  --primary: #{$primary-1};
  --text-color: #{$text-color-1};
  --bg-color: #{$bg-color-1};
  --btn-color: #{$btn-color-1};
  --hover-color: #{$hover-color-1};
  --card-bg: #{$card-bg-1};
  --card-btn-bg: #{$primary-2};
  --card-border: #{$card-bg-2};
  --link-color: #{$link-color};
  --section-bg: #{$section-color-1};
}

html[data-theme="dark"] {
  --primary: #{$primary-2};
  --text-color: #{$text-color-2};
  --bg-color: #{$bg-color-2};
  --btn-color: #{$btn-color-2};
  --hover-color: #{$hover-color-2};
  --card-bg: #{$card-bg-2};
  --card-btn-bg: #{$primary-1};
  --card-border: #{$card-bg-1};
  --link-color: #{$link-color};
  --section-bg: #{$section-color-2};
}
