@use "./themes.scss" as *;

html,
body {
  box-sizing: border-box;
  background-color: var(--color-background);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
button {
  all: unset;
}

@media screen and (max-width: 800px) {
  .header_content,
  .nav_collapse,
  .nev_menu {
    flex-direction: column;
  }
  .header_toggle {
    display: block;
    right: 15px;
    top: 15px;
  }
  .nav_collapse {
    overflow: hidden;
  }
  .nav_collapse.active {
    overflow: visible;
  }
}
