@use "./themes.scss" as *;

html,
body {
  height: 100%;
  box-sizing: border-box;
  background-color: var(--color-background);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
button {
  all: unset;
}
ul {
  padding: 0px;
}
