.page {
  min-height: 5000px;
  margin: 0 auto;
  max-width: 1280px;
  background-color: white;
}

.header {
  position: sticky;
  max-width: 100%;
  background-color: var(--header-bg);
  transition: top 0.3s;
  .header_content {
    max-width: 1280px;
    margin: 0 auto;
  }
}

.logo_text {
  color: var(--primary);
  font-size: 48px;
  font-weight: 900;
  margin: 0 auto;
}
