.act_container {
  word-wrap: break-word;
  h1 {
    margin: 3rem 0px 2rem;
  }
  h2 {
    margin: 2.5rem 0px 1.5rem;
  }
  h3 {
    margin: 2rem 0px 1rem;
  }
  p {
    margin: 0px 0px 0.7rem;
    line-height: 1.3rem;
  }
  ol > li::marker {
    font-weight: bold;
  }
  li {
    margin: 5px;
    padding-left: 5px;
  }
}
