.header {
  position: sticky;
  max-width: 100%;
  background-color: var(--header-bg);
  transition: top 0.3s;
  .header_content {
    padding: 0 15px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    .logo_text {
      margin: 0;
      width: 100px;
      color: var(--primary);
      font-size: 48px;
      font-weight: 900;
    }
    .button_theme {
      display: block;
    }
    .nav_collapse {
      display: flex;
      flex-basis: 75%;
      flex-grow: 2;
      justify-content: space-between;
      .nav_menu {
        display: flex;
        justify-content: space-around;
        flex-basis: 75%;
        list-style: none;
      }
    }
    .nav_user {
      display: flex;
      flex-basis: 20%;
      justify-content: space-around;
      list-style: none;
    }
  }
}

.come {
  animation: rotate-in 0.5s ease-in-out forwards;
}

@keyframes rotate-in {
  0% {
    transform: rotate(-360deg) scale(0.2);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}
