.header {
  position: sticky;
  max-width: 100%;
  background-color: var(--header-bg);
  transition: top 0.3s;
  .header_content {
    padding: 0 15px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    .logo_text {
      margin: 0;
      text-align: left;
      width: 100px;
      color: var(--primary);
      font-size: 48px;
      font-weight: 900;
    }
    .nav_collapse {
      display: flex;
      flex-basis: 100%;
      background-color: var(--header-bg);
      justify-content: space-between;
      align-items: center;
      .nav_user {
        display: flex;
        flex-basis: 40%;
        justify-content: space-around;
        list-style: none;
        .button_theme {
          display: block;
        }
      }
    }
  }
}

.header_toggle {
  display: none;
  position: absolute;
  cursor: pointer;
  .toggle_div1,
  .toggle_div2,
  .toggle_div3 {
    width: 25px;
    height: 5px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
  }
}

.come {
  animation: rotate-in 0.5s ease-in-out forwards;
}

@keyframes rotate-in {
  0% {
    transform: rotate(-360deg) scale(0.2);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}
