.welcome_card_container.no_show {
  display: none;
}

.welcome_card_container {
  font-size: 1.5rem;
  display: flex;
  border-radius: 10px;
  padding: 20px 10px;
  justify-content: space-between;
  min-height: 400px;
  background-color: var(--card-bg);
  animation: 0.5s ease-in-out loadEffect1;
}

.next_card_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome_card {
  background-color: #f9fafb;
  border-radius: 10px;
  padding: 10px;
  p {
    padding: 5px;
    color: #000;
    word-break: break-word;
  }
  span {
    color: #1b64da;
    font-weight: 700;
  }
}

.welcome_card_image {
  border-radius: 5px;
  overflow: hidden;
  width: 350px;
  height: 300px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .welcome_card_container {
    flex-direction: column;
    gap: 20px;
    font-size: 1rem;
    .welcome_card_image {
      width: 200px;
      height: 150px;
    }
    .welcome_card {
      display: flex;
      justify-content: space-between;
    }
    .welcome_card:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }
}

@keyframes loadEffect1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
