.input_container {
  width: 100%;
  margin: 15px 0px;
  label {
    display: block;
    margin-bottom: 7px;
  }
  input {
    width: 100%;
    padding: 7px 10px;
    outline: none;
    border-radius: 5px;
  }
}
